# Sensitive and configuration files
.env
.env.*

# Project specific directories
comics/
output/
.github/

# Python
__pycache__/
*.py[cod]
*$py.class

# Environment
.env
.venv
env/
venv/
ENV/
*venv*/
virtualenv/
python_env/
py_env/
.Python
.python-version

# VS Code
.vscode/
*.code-workspace


# OS
.DS_Store
Thumbs.db
